Repository sony/nnabla-ext-cuda, pull requests merged in 2020-01, with the labels that each got.

#199 [Windows] Fix batchnormalization fail with CUDNN_STATUS_NOT_SUPPORTED
  CMakeLists.txt
  src/nbla/cuda/cudnn/function/generic/batch_normalization.cu
  src/nbla/cuda/cudnn/function/generic/fused_batch_normalization.cu
  third_party/CMakeLists.txt
Labels: release-note-bugfix

#200 Remove python2 dependencies.
  build-tools/make/build.mk
  build-tools/msvc/build_wheel.bat
  build-tools/msvc/test.bat
  docker/README.md
  docker/development/Dockerfile.build
  docker/development/Dockerfile.build-multi-gpu
  docker/development/Dockerfile.build-multi-gpu-ppc64le
  docker/development/Dockerfile.build-ppc64le
  docker/py27/cuda100/Dockerfile
  docker/py27/cuda80/Dockerfile
  docker/py27/cuda90/Dockerfile
  docker/py27/cuda92/Dockerfile
  python/requirements.txt
  python/setup.py
Labels: release-note-build

#202 Remove spdlog and python2 dependency.
  CMakeLists.txt
  build-tools/make/build-with-docker.mk
  build-tools/make/build.mk
  third_party/CMakeLists.txt
Labels: release-note-build

#203 Adaptive Separable Convolution
  build-tools/code_generator/function_types.yaml
  include/nbla/cuda/function/adaptive_separable_convolution.hpp
  src/nbla/cuda/function/generic/adaptive_separable_convolution.cu
Labels: release-note-op-layer
