Repository sony/nnabla-ext-cuda, pull requests merged in 2022-01, with the labels that each got.

#368 install distutils for py39
  docker/release/Dockerfile.py39-cuda100
  docker/release/Dockerfile.py39-cuda100-mpi211
  docker/release/Dockerfile.py39-cuda100-mpi316
  docker/release/Dockerfile.py39-cuda102
  docker/release/Dockerfile.py39-cuda102-mpi211
  docker/release/Dockerfile.py39-cuda102-mpi316
  docker/release/Dockerfile.py39-cuda110
  docker/release/Dockerfile.py39-cuda110-mpi211
  docker/release/Dockerfile.py39-cuda110-mpi316
Labels: release-note-ignore

#370 make corresponding modification for the files in reconstruction directories
  doc/build/build_distributed.md
  doc/build/build_windows.md
  docker/tutorial/run-nnabla-examples.ipynb
Labels: release-note-examples

#369 Update deformable_convolution.cu
  src/nbla/cuda/function/generic/deformable_convolution.cu
Labels: release-note-bugfix

#372 Fix FusedBN not to fall back to cpu implementation always
  build-tools/code_generator/function_types.yaml
  include/nbla/cuda/cudnn/function/fused_batch_normalization.hpp
  include/nbla/cuda/function/fused_batch_normalization.hpp
  include/nbla/cuda/utils/add2.cuh
  include/nbla/cuda/utils/relu.cuh
  src/nbla/cuda/cudnn/function/generic/fused_batch_normalization.cu
  src/nbla/cuda/function/generic/add2.cu
  src/nbla/cuda/function/generic/fused_batch_normalization.cu
  src/nbla/cuda/function/generic/relu.cu
Labels: release-note-bugfix
