Repository sony/nnabla-ext-cuda, pull requests merged in 2023-01, with the labels that each got.

#449 clean tmp directory in docker image
  docker/release/Dockerfile.cuda
  docker/release/Dockerfile.cuda-mpi
  docker/runtime/Dockerfile.runtime-ppc64le
Labels: release-note-ignore

#450 Update default python version to 3.8 in documents and makefiles
  build-tools/make/options.mk
  build-tools/msvc/build_cpplib.bat
  docker/development/Dockerfile.build-mpi
  python/setup.py
Labels: release-note-build

#451 static linking of python library
  docker/development/Dockerfile.build-mpi
  docker/development/Dockerfile.build-mpi-ppc64le
  docker/development/Dockerfile.cuda-cudnn-lib-in-wheel-test
  docker/release/Dockerfile.cuda
  docker/release/Dockerfile.cuda-mpi
  docker/runtime/Dockerfile.runtime
  docker/runtime/Dockerfile.runtime-mpi
  docker/runtime/Dockerfile.runtime-ppc64le
Labels: release-note-ignore

#452 Add NonZero, NonMaxSuppression, OneHot, and Resize support to ONNX importer
  include/nbla/cuda/function/one_hot.hpp
  src/nbla/cuda/function/generic/one_hot.cu
Labels: release-note-bugfix

#453 update linux documents
  doc/build/build.md
  doc/build/build_distributed.md
  doc/build/quick_build_tools.md
  examples/cpp/mnist_collection/README.md
  examples/cpp/mnist_training/README.md
Labels: release-note-doc
