Repository sony/nnabla-ext-cuda, pull requests merged in 2023-03, with the labels that each got.

#460 Fix FFT/iFFT cufftXtMakePlanMany usage
  include/nbla/cuda/function/fft.hpp
  include/nbla/cuda/function/ifft.hpp
  include/nbla/cuda/function/utils/fft.cuh
  src/nbla/cuda/function/generic/fft.cu
  src/nbla/cuda/function/generic/ifft.cu
Labels: release-note-bugfix

#461 change protobuf3.19.4 to protobuf3.19.6
  docker/development/Dockerfile.build-mpi
  docker/development/Dockerfile.build-mpi-ppc64le
  python/requirements.txt
Labels: release-note-build

#463 Use vs2019 default path
  build-tools/msvc/build_cpplib.bat
Labels: release-note-build

#464 Lion optimizer
  build-tools/code_generator/solver_types.yaml
  include/nbla/cuda/solver/lion.hpp
  src/nbla/cuda/solver/generic/lion.cu
Labels: release-note-op-layer
